@model comdeeds.Models.BaseModel.ClassPaymentFormData
@{
    ViewBag.Title = "trustpayment";
    var d = Model;
    var Cost = d.Cost * 100;
}


<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Payment processing</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="/">Home</a></li>
                        @{
                            if (ViewBag.type == "company")
                            {
                                <li><a href="/company-setup">Company setup</a></li>
                            }
                            else if (ViewBag.type == "trust")
                            {
                                <li><a href="/trustsetup">Trust setup</a></li>
                            }
                        }
                        <li>Payment</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>



<div class="container margin-bottom-45 submit-page" id="bindview">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            @Html.Raw(ViewBag.msg)
            <div class="clearfix"></div>

            <form method="post" action="@Url.Action("trustpayment","Home")" enctype="multipart/form-data" data-bind="submit:sbmtfrm">
                @Html.AntiForgeryToken()
                <input type="hidden" name="hftype" value="@ViewBag.type" class="hidden"/>
                <input type="hidden" name="formid" class="hidden" value="@d.ID" />
                <input type="hidden" name="desc" class="hidden" value="Setup of @d.Name" />
                <input type="hidden" name="deedname" class="hidden" value="@d.Name" />
                <input type="hidden" name="txtcost" class="hidden" value="@Cost" />
                <div class="payment-box" data-bind="with:frm()">
                    <div class="pay-header">
                        <div class="row">
                            <div class="col-md-9">
                                <h4>Make a payment to </h4>
                                <h5>Freedom Wealth Advisers Trading as Comdeeds</h5>
                            </div>
                            <div class="col-md-3">
                                <img src="~/Content/images/cardhead.png" height="30" class="margin-top-15" />
                            </div>
                        </div>

                    </div>

                    <div class="pay-body">
                        <div class="form-group">
                            <h4>Amount to pay</h4>
                            <h5>$@d.Cost - For setup of @d.Name</h5>

                        </div>
                    </div>
                    <div class="pay-body">
                        <div class="form-group">
                            <h5>Name on card</h5>
                            <input name="txtname" class="form-control" placeholder="e.g. John doe" data-bind="value:Name" />   @*value="@d.CustomerName"*@ 
                        </div>
                        <div class="form-group">
                            <h5>Card number</h5>
                            <input name="txtcno" class="form-control" placeholder="xxxx xxxx xxxx xxxx" data-bind="value:cn" />
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Expiry month</h5>
                                    <select class="form-control" name="txtem" data-bind="value:em">
                                        <option value="">Month</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <h5>Expiry year</h5>
                                    <select class="form-control" name="txtey" data-bind="value:ey">
                                        <option value="">Year</option>
                                        @{ for (var i = 2017; i < 2050; i++)
                                        {
                                                <option value="@i">@i</option>
                                        }
                                        }

                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <h5>CVC</h5>
                                    <input name="txtcvc" class="form-control" data-bind="value:cvc" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <h5>Email</h5>
                            <input type="email" class="form-control" name="txtemail" data-bind="value:email" />
                        </div>
                    </div>
                    <div class="pay-body">
                        <div class="form-group">
                            <h5>Address line 1</h5>
                            <input type="text" class="form-control" name="txtadd1" data-bind="value:add1" />
                        </div>
                        <div class="form-group">
                            <h5>Address line 2 <span>(Optional)</span></h5>
                            <input type="text" class="form-control" name="txtadd2" />
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>City</h5>
                                    <input name="txtcity" class="form-control" data-bind="value:city" />
                                </div>
                                <div class="col-md-4">
                                    <h5>State</h5>
                                    <input name="txtstate" class="form-control" data-bind="value:state" />
                                </div>
                                <div class="col-md-4">
                                    <h5>Postcode</h5>
                                    <input name="txtpostcode" class="form-control" data-bind="value:postcode"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-bind="validationOptions: {insertMessages: false}">
                            <h5>Country</h5>
                            <select  name="txtcountry" class="chosen-select-no-single" data-bind="value:country">
                                <option></option>
                                <option value="AU">Australia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="US">United States</option>
                                <option value="CA">Canada</option>
                                <option value="GB">United Kingdom</option>
                                <option value="" disabled="disabled">-------------</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Åland Islands</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua &amp; Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AC">Ascension Island</option>
                                <option value="Australia">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BA">Bosnia &amp; Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="VG">British Virgin Islands</option>
                                <option value="BN">Brunei</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="IC">Canary Islands</option>
                                <option value="CV">Cape Verde</option>
                                <option value="BQ">Caribbean Netherlands</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="EA">Ceuta &amp; Melilla</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CP">Clipperton Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo - Brazzaville</option>
                                <option value="CD">Congo - Kinshasa</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Côte d’Ivoire</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CW">Curaçao</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DG">Diego Garcia</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="EU">European Union</option>
                                <option value="FK">Falkland Islands</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard &amp; McDonald Islands</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong SAR China</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="XK">Kosovo</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Laos</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macau SAR China</option>
                                <option value="MK">Macedonia</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar (Burma)</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="KP">North Korea</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="QO">Outlying Oceania</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territories</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn Islands</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Réunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russia</option>
                                <option value="RW">Rwanda</option>
                                <option value="SX">Saint Martin</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">São Tomé &amp; Príncipe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia &amp; South Sandwich Islands</option>
                                <option value="KR">South Korea</option>
                                <option value="SS">South Sudan</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="BL">St. Barthélemy</option>
                                <option value="SH">St. Helena</option>
                                <option value="KN">St. Kitts &amp; Nevis</option>
                                <option value="LC">St. Lucia</option>
                                <option value="MF">St. Martin</option>
                                <option value="PM">St. Pierre &amp; Miquelon</option>
                                <option value="VC">St. Vincent &amp; Grenadines</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard &amp; Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syria</option>
                                <option value="TW">Taiwan</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad &amp; Tobago</option>
                                <option value="TA">Tristan da Cunha</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks &amp; Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UM">U.S. Outlying Islands</option>
                                <option value="VI">U.S. Virgin Islands</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="US">United States</option>
                                <option value="ZZ">Unknown Region</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VA">Vatican City</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Vietnam</option>
                                <option value="WF">Wallis &amp; Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </div>
                        <span class="validationMessage" data-bind="validationMessage: country"></span>

                    </div>

                    <div class="pay-body text-center">
                        <button class="btn" style="background-color: #00a7ec;border: none;color: white;" type="submit">Pay Now</button>
                    </div>

                </div>
            </form>


            <div class="powered">
                <img src="~/Content/images/stripe_powered_by.svg" width="300" style="height:100px" />
            </div>


        </div>
    </div>

</div>




<script>

    ko.validation.init({
        grouping: {
            deep: true,
            live: true,
            observable: true
        }
    }, true);


    ko.validation.rules['checked'] = {
        validator: function (value) {
            if (!value) {
                return false;
            }
            return true;
        }
    };

    ko.validation.registerExtenders();


    var mdl = function (name,cn,em,ey,cvc,email,add1,city,state,p,cntry) {
        var m = this;
        m.Name = ko.observable(name).extend({ required: true });;
        m.cn = ko.observable(cn).extend({ required: true });;
        m.em = ko.observable(em).extend({ required: true });;
        m.ey = ko.observable(ey).extend({ required: true });;
        m.cvc = ko.observable(cvc).extend({ required: true });;
        m.email = ko.observable(email).extend({ required: true });;
        m.add1 = ko.observable(add1).extend({ required: true });;
        m.city = ko.observable(city).extend({ required: true });;
        m.state = ko.observable(state).extend({ required: true });;
        m.postcode = ko.observable(p).extend({ required: true });;
        m.country = ko.observable(cntry).extend({ required: true });;
    };

    

    window.onload = function () {
        function binndviews() {
            var self = this;
            self.frm = ko.observableArray();
            self.frm(new mdl("", "", "", "", "", "@d.Email", "", "", "", "", ""));
            self.sbmtfrm = function (f) {
                self.applicantformerror = ko.validation.group(self.frm(), {
                    deep: true
                });

                console.log(self.frm(),self.applicantformerror());
                if (self.applicantformerror().length !== 0) {
                    self.applicantformerror.showAllMessages();
                } else {
                    return true;
                }
            };
        };



        ko.applyBindings(binndviews(), document.getElementById("bindview"))
    };
</script>